<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>    
</head>
  <style>
    body {
        background-color: rgb(123, 144, 238);
    }
    .bg-new{
      background: rgb(67, 97, 230);
    }
   
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HOME</a>
        <div class="navbar-nav justify-content-center">
            <a class="navbar-brand" href="/shop/">SHOP</a>
            <a class="navbar-brand" href="#">ABOUT US</a>
            <a class="navbar-brand" href="/login/">LOGIN</a>
            <a class="navbar-brand" href="/register/">REGISTER</a>
            <a class="navbar-brand" href="/shoppingCart/">CART</a>
            <a class="nav-link" href="#">Logged in as : {{request.user}}</a>
              <a class="nav-link" href="{% url 'logoutUser' %}">Logout</a>
          </div>
        </div>
  </nav>
      <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
      <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
      <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
      <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
      <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
      <h1 class="text-center">PRODUCTS</h1>
      <div class="container-fluid"  >
          <div class="card-deck ">
              <div class="row d-flex justify-content-center " >
                    {% for item in items %}
                    <div class="card  bg-new col-6 m-3" style="width: 450px; height: 600px; padding: 7px;" >
                        <img class="card-img-top col-8 m-3" src="{{ item.image.url }}" alt="{{ image.name }}" style="width: 400px;height: 400px;">
                        <h4 class="card-title text-center">{{ item.name }}</h4>
                        <h6 class="card-text text-center">{{ item.price }} $</h6>
                        <h6 class="card-text text-center">{{ item.size }}</h6>
                      <button style="width: 434px;" class="btn btn-dark btnblock col-6 justify-content-center"><a style="color: white" href="/product/{{item.code}}/">Go to the product page</a></button>
                      </div>
                      
                {% endfor %}
          </div>
        </div>
      </div>
        
          


  
</body>
<footer>
  <div class="container">
  <div class="row justify-content-center">
      <div class="col col-lg-2">
      </div>
      <div class="col col-lg-2">
          <h5 class="text-dark text-center">Coral 9 © 2023</h5>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </div>
</footer>
</html>